<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="logs"/>
    <property name="APP_NAME" value="csas-eligibility-backend"/>

    <!-- Výchozí pattern pro logování -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Výchozí appender pro konzoli -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Appender pro soubor s rotací podle velikosti a času -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Název souboru: backend_DEVEL_2025-04-15_1.0.0.0.log, backend_PROD_2025-04-15_1.0.0.0.log -->
            <fileNamePattern>${LOG_DIR}/${APP_NAME}_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Profilově specifické logování -->
    <!-- Výchozí fallback -->
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
